.brandColor {
  color: #289B48; }

.brandColor-bg {
  background-color: #289B48; }

.grisClaro {
  color: #D6D6D6; }

.grisClaro-bg {
  background-color: #D6D6D6; }

.grisMasClaro {
  color: #F0F0F0; }

.grisMasClaro-bg {
  background-color: #F0F0F0; }

.grisOscuro {
  color: #414141; }

.grisOscuro-bg {
  background-color: #414141; }

.grisMasOscuro {
  color: #333333; }

.grisMasOscuro-bg {
  background-color: #333333; }

.grisNegro {
  color: #1A1A1A; }

.grisNegro-bg {
  background-color: #1A1A1A; }

.amarillo {
  color: #E5BC21; }

.amarillo-bg {
  background-color: #E5BC21; }

.verdeClaro {
  color: #84BF41; }

.verdeClaro-bg {
  background-color: #84BF41; }

.verde {
  color: #289B48; }

.verde-bg {
  background-color: #289B48; }

.amarilloIntenso {
  color: #fcd700; }

.amarilloIntenso-bg {
  background-color: #fcd700; }

.rojo {
  color: #C42220; }

.rojo-bg {
  background-color: #C42220; }

.sans {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; }

.display {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif; }
