/*!relative path to source SCSS file: ../sass/styles.css */

@import "brand";// ←---Here be vars
@import "normalize";
@import "mejoras-1";
@import "mejoras-2";
@import "mejoras-3";

$gridGutter:1em;
$anchoDefault:970px;
$anchoWide:1140px;
$anchoMinimo:776px;

@import "simplegrid";
@import "forms";



@media print {
	
}
