/**
 * This is not perfect here, but for the time being it will do
 */

$rojo: #C42220 !default;
$rojoMasOscuro: #A31514 !default;
$rojoMasMasOscuro: #8B0C0B !default;
$verde: #289B48 !default;
$verdeMasOscuro: #087C24 !default;
$verdeMasMasOscuro: #09611E !default;
$azul: #3A6ABC !default;
$azulMasOscuro: #16479C !default;
$azulMasMasOscuro: #0B3275 !default;
$amarillo: #fcd700 !default;
$amarilloMasOscuro: #DFBE00 !default;
$amarilloMasMasOscuro: #B39800 !default;
$oscuro: #414141 !default;
$oscuroMasOscuro: #333333 !default;
$oscuroMasMasOscuro: #1A1A1A !default;
